*,
*::before,
*::after{
  box-sizing: border-box;

}
html{
  font-size: 100%;

}

body{
  margin: 0;
  padding: 0;
  background-color: black;
  line-height: 1.5;
  color: white;
  font-family: 'Bebas Neue', sans-serif;;
}
h1,
h2,
h3,
h4{
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
}